@font-face {
    font-family: "Pokemon title";
    src: url(fonts/ITStoneMarkDEMO-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

html, body{
    height: 100%;
    width: 100%;
}

#header{
    background: linear-gradient(to top, rgb(33, 92, 219), black);
}

h1{
    font-family: "Pokemon title";
    color: aqua;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(251, 255, 0, 0.705);
}

#cards{
    height: 100%;
    width: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM4KuGITWYIOcCLCoSV7bFxFq43k6CKaXq6A&s);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    flex-wrap: wrap;
    gap: 30px;

    perspective: 500px;

}


#card1{
    flex-shrink: 0;
    height: 430px;
    width: 340px;
    background-color: black;
    border: 2px solid yellow;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 4px 4px 0px orange;
    text-align: center;
    transform: rotateX(80deg);
   
    
  
    

}

#card1:hover{
    
    transform: scale(110%, 110%);
    box-shadow: 10px 10px 0px rgba(34, 34, 34, 0.555);
    transition: all ease 1s;
     
}


#card1 h3{
    color: aliceblue;
    text-shadow: 2px 2px 0px green;
    padding: 5px;
    font-family: "Pokemon title";
}
#card1 p{
    color: rgb(255, 251, 212);
    padding: 15px;
}
#card1 img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 2px solid yellow;
    box-shadow: 2px 2px 2px grey;
}

#card1 img:hover{
    transform: scale(150%, 150%);
    border: 4px solid white;
    box-shadow: 5px 5px 10px gray;
    transition: all ease 1s;
}

#card1 button{
    padding: 20px 20px;
    padding: 10px;
    box-shadow: 2px 2px 2px orange;
    border: 2px solid rgb(255, 255, 141);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: beige;
}



#card1:hover button{
 background:linear-gradient(to right, rgb(123, 247, 123));
 color: rgb(0, 0, 0);
 cursor: pointer;
 font-family: "Pokemon title";

 transition: all ease 1.5s;
}


#card1:hover #btn1{
 background:linear-gradient(to right, royalblue, brown);
 color: rgb(255, 255, 255);
 cursor: pointer;
 font-family: "Pokemon title";
 transition: all ease 1.5s;
}



#card1:hover #btn2{
 background:linear-gradient(to right, rgb(107, 2, 93));
 color: rgb(255, 255, 255);
 cursor: pointer;
 font-family: "Pokemon title";
 transition: all ease 1.5s;
}


#card1:hover #btn3{
 background:linear-gradient(to right, rgb(114, 114, 114));
 color: rgb(255, 255, 255);
 cursor: pointer;
 font-family: "Pokemon title";
 transition: all ease 1.5s;
}


#card1:hover #btn4{
 background:linear-gradient(to right, rgb(255, 217, 0));
 color: rgb(0, 0, 0);
 cursor: pointer;
 font-family: "Pokemon title";
 transition: all ease 1.5s;
}


#card1:hover #btn5{
 background:linear-gradient(to right, brown, silver);
 color: rgb(255, 255, 255);
 cursor: pointer;
 font-family: "Pokemon title";
 transition: all ease 1.5s;
}


#card1:hover #btn6{
 background:linear-gradient(to right, rgb(107, 2, 93), red);
 color: rgb(255, 255, 255);
 cursor: pointer;
 font-family: "Pokemon title";
 transition: all ease 1.5s;
}


#card1:hover #btn7{
 background:linear-gradient(to right, rgb(255, 164, 232));
 color: rgb(0, 0, 0);
 cursor: pointer;
 font-family: "Pokemon title";
 transition: all ease 1.5s;
}

#card1:hover #btn8{
 background:linear-gradient(to right, rgb(165, 107, 0));
 color: rgb(255, 255, 255);
 cursor: pointer;
 font-family: "Pokemon title";
 transition: all ease 1.5s;
}


#card1:hover #btn9{
 background:linear-gradient(to right, rgb(243, 72, 243), rgb(255, 164, 232));
 color: rgb(255, 255, 255);
 cursor: pointer;
 font-family: "Pokemon title";
 transition: all ease 1.5s;
}


#card1:hover #btn10{
 background:linear-gradient(to right, rgb(51, 0, 85), rgb(107, 2, 93));
 color: rgb(255, 255, 255);
 cursor: pointer;
 font-family: "Pokemon title";
 transition: all ease 1.5s;
}