@font-face {
  font-family: "Pokemon Sign";
  src: url(fonts/ITStoneMarkDEMO-Regular.otf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  

}

html, body{
  height: 100%;
  width: 100%;
  background-color: black;
}


#main{
  height: 95%;
  background-image: url(https://wallpapercave.com/wp/wp8813120.jpg);
  background-size: cover;
  background-position: center;
  

  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 10px;
}


.card{
  flex-shrink: 0;
  height: 350px;
  width: 250px;
  background-color: rgb(0, 0, 0);
  border-radius: 16px;

  box-shadow: 4px 4px 0px rgb(255, 209, 4);  /* X, Y axis and blue amount as 4px 4px no blue means 0px  */
 padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}


.card img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 2px solid rgb(255, 209, 4);
  border-radius: 50%;
  
}

.card h2{
  font-family: "Pokemon Sign";
  color: rgb(255, 209, 4);
  font-size: 26px;
  font-weight: 500;
}

.card p{
  color: white;
  text-align: center;
}


.card button{
  border-radius: 50px;
  padding: 10px 20px;
  background-color:  rgb(4, 142, 255);
  color: aliceblue;
  font-family: "Pokemon Sign" ;

  border: none;

}

.card button:hover{
  background-color: royalblue;
  color: yellow;
  cursor: pointer;
}








.card1{
  flex-shrink: 0;
  height: 350px;
  width: 250px;
  background-color: rgb(0, 0, 0);
  border-radius: 16px;

  box-shadow: 4px 4px 0px rgb(255, 209, 4);  /* X, Y axis and blue amount as 4px 4px no blue means 0px  */
 padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}


.card1 img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 2px solid rgb(255, 209, 4);
  border-radius: 50%;
  
}

.card1 h2{
  font-family: "Pokemon Sign";
  color: rgb(255, 209, 4);
  font-size: 26px;
  font-weight: 500;
}

.card1 p{
  color: white;
  text-align: center;
}


.card1 button{
  border-radius: 50px;
  padding: 10px 20px;
  background-color:  rgb(252, 111, 68);
  color: aliceblue;
  font-family: "Pokemon Sign" ;

  border: none;

}

.card1 button:hover{
  background-color: royalblue;
  color: yellow;
  cursor: pointer;
}





.card2{
  flex-shrink: 0;
  height: 350px;
  width: 250px;
  background-color: rgb(0, 0, 0);
  border-radius: 16px;

  box-shadow: 4px 4px 0px rgb(255, 209, 4);  /* X, Y axis and blue amount as 4px 4px no blue means 0px  */
 padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}


.card2 img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 2px solid rgb(255, 209, 4);
  border-radius: 50%;
  
}

.card2 h2{
  font-family: "Pokemon Sign";
  color: rgb(255, 209, 4);
  font-size: 26px;
  font-weight: 500;
}

.card2 p{
  color: white;
  text-align: center;
}


.card2 button{
  border-radius: 50px;
  padding: 10px 20px;
  background-color:  rgb(4, 142, 255);
  color: aliceblue;
  font-family: "Pokemon Sign" ;

  border: none;

}

.card2 button:hover{
  background-color: royalblue;
  color: yellow;
  cursor: pointer;
}






.card3{
  flex-shrink: 0;
  height: 350px;
  width: 250px;
  background-color: rgb(0, 0, 0);
  border-radius: 16px;

  box-shadow: 4px 4px 0px rgb(255, 209, 4);  /* X, Y axis and blue amount as 4px 4px no blue means 0px  */
 padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}


.card3 img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 2px solid rgb(255, 209, 4);
  border-radius: 50%;
  
}

.card3 h2{
  font-family: "Pokemon Sign";
  color: rgb(255, 209, 4);
  font-size: 26px;
  font-weight: 500;
}

.card3 p{
  color: white;
  text-align: center;
}


.card3 button{
  border-radius: 50px;
  padding: 10px 20px;
  background-color:  rgb(218, 238, 255);
  color: rgb(0, 0, 0);
  font-family: "Pokemon Sign" ;

  border: none;

}

.card3 button:hover{
  background-color: royalblue;
  color: yellow;
  cursor: pointer;
}









.card4{
  flex-shrink: 0;
  height: 350px;
  width: 250px;
  background-color: rgb(0, 0, 0);
  border-radius: 16px;

  box-shadow: 4px 4px 0px rgb(255, 209, 4);  /* X, Y axis and blue amount as 4px 4px no blue means 0px  */
 padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}


.card4 img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 2px solid rgb(255, 209, 4);
  border-radius: 50%;
  
}

.card4 h2{
  font-family: "Pokemon Sign";
  color: rgb(255, 209, 4);
  font-size: 26px;
  font-weight: 500;
}

.card4 p{
  color: white;
  text-align: center;
}


.card4 button{
  border-radius: 50px;
  padding: 10px 20px;
  background-color:  rgb(255, 251, 0);
  color: rgb(0, 0, 0);
  font-family: "Pokemon Sign" ;

  border: none;

}

.card4 button:hover{
  background-color: royalblue;
  color: yellow;
  cursor: pointer;
}





.card5{
  flex-shrink: 0;
  height: 350px;
  width: 250px;
  background-color: rgb(0, 0, 0);
  border-radius: 16px;

  box-shadow: 4px 4px 0px rgb(255, 209, 4);  /* X, Y axis and blue amount as 4px 4px no blue means 0px  */
 padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}


.card5 img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 2px solid rgb(255, 209, 4);
  border-radius: 50%;
  
}

.card5 h2{
  font-family: "Pokemon Sign";
  color: rgb(255, 209, 4);
  font-size: 26px;
  font-weight: 500;
}

.card5 p{
  color: white;
  text-align: center;
}


.card5 button{
  border-radius: 50px;
  padding: 10px 20px;
  background-color:  rgb(121, 62, 3);
  color: rgb(255, 255, 255);
  font-family: "Pokemon Sign" ;

  border: none;

}

.card5 button:hover{
  background-color: royalblue;
  color: yellow;
  cursor: pointer;
}






.card6{
  flex-shrink: 0;
  height: 350px;
  width: 250px;
  background-color: rgb(0, 0, 0);
  border-radius: 16px;

  box-shadow: 4px 4px 0px rgb(255, 209, 4);  /* X, Y axis and blue amount as 4px 4px no blue means 0px  */
 padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}


.card6 img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 2px solid rgb(255, 209, 4);
  border-radius: 50%;
  
}

.card6 h2{
  font-family: "Pokemon Sign";
  color: rgb(255, 209, 4);
  font-size: 26px;
  font-weight: 500;
}

.card6 p{
  color: white;
  text-align: center;
}


.card6 button{
  border-radius: 50px;
  padding: 10px 20px;
  background-color:  rgb(174, 6, 252);
  color: rgb(255, 255, 255);
  font-family: "Pokemon Sign" ;

  border: none;

}

.card6 button:hover{
  background-color: royalblue;
  color: yellow;
  cursor: pointer;
}
















