@font-face {
  font-family: 'MyCustomFont'; 
  src: url('font/Storm\ Gust.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Mainfont'; 
  src: url('font/Blood\ Hunter\ TTF\ Demo.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Textfont'; 
  src: url('font/Ghostbum\ \(DEMO\).ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}



html,body{
  height: 100%;
  width:100%;
}


#main{
  height: 100%;
  width: 100%;
  /* background-image: url(https://i.redd.it/58xc5bic96y61.png); */
  background-image: url(https://images2.alphacoders.com/628/628357.jpg);
}

#nav{
  padding: 10px 20px;
  margin-left: 600px;
}

#main #nav a{
  
  color: rgb(233, 233, 233);
  font-family: 'Mainfont';
  text-decoration: none;
  padding: 10px 20px;
  font-size: 25px;

   background-image: url('https://cdna.artstation.com/p/assets/images/images/060/893/120/large/fredrick-nolting-re4-01-copy.jpg?1679537977');
  background-size: cover;
  background-position: center;

  
  -webkit-background-clip: text; 
  background-clip: text;

  color: transparent;
}

#main h1{
  font-family: 'Mainfont';
  font-size: 250px;
  font-weight: 100;
  background-image: url('https://cdna.artstation.com/p/assets/images/images/060/893/120/large/fredrick-nolting-re4-01-copy.jpg?1679537977');
  background-size: cover;
  background-position: center;

 
  -webkit-background-clip: text; 
  background-clip: text;

  
  color: transparent;
  

}

#mainheading{
  position: absolute;
  left: 8%;
  top: 5%;
}

#btm-left{
  width: 250px;
  position: absolute;
  bottom: 20%;
  left: 5%;
  
}

#btm-left h4{
  font-family: 'Textfont';
  margin-top: 30px;
  color: rgb(255, 79, 79);
}
#btm-left h3{
  font-family: 'Textfont';
  color: rgb(255, 53, 53);
}

#btm-left p{
  font-size: 14px;
  color: rgb(255, 196, 196);
}

#btm-bottom{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 30px 70px;
  
  bottom: 0;
  left: 0;
  
}

#btm-bottom h3{
color: rgb(255, 172, 157);
}

#btm-bottom a{
  color: rgb(255, 161, 161);
  text-decoration: none;
}

#main>img{
  position: absolute;
  
}

#ada{
  height: 690px;
  top: 36%;
  left: 20%;
}

#leon{
  height: 690px;
  top: 35%;
  left: 35%;
}

#clair{
  height: 690px;
  top: 35%;
  left:50%
}